body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #181818;
}

  
.clctr{
  background: #111111;
  /* border: 1px solid; */
  border-radius: 8px;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  max-width: 300px;
  background-color: #c2080800;
  padding: 10px;
}

.dspl {
  grid-column: span 4;
  color: #fff;

  background-color: #88888800;
  text-align: right;
  padding: 16px;
  font-size: 24px;
  outline: none;
  border: 0;
}
button{
  font-size: 20px;
  padding: 10px;
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #292929;
}
  

.oprtr{
  background: rgb(187, 103, 35);
}

.oprtr:hover{
  background: rgb(153, 85, 28);
}

.op{
  background: rgb(231, 70, 30);
}

.op:hover{
  background: rgb(197, 60, 26);
}